paper*
*paper*
*.tex
data
code/mesa/tutorial
code/mesa/propagation_diagram/make
code/mesa/propagation_diagram/out*
code/mesa/propagation_diagram/photos
code/mesa/propagation_diagram/src
code/mesa/propagation_diagram/clean
code/mesa/propagation_diagram/completed_tasks.csv
code/mesa/propagation_diagram/mk
code/mesa/propagation_diagram/re
code/mesa/propagation_diagram/README_first
code/mesa/propagation_diagram/rn
code/mesa/propagation_diagram/star

code/ncounts
*.png
*.pdf
*/.ipynb_checkpoints/
.ipynb_checkpoints/

*/__pycache__/
__pycache__/
