&star_job

  ! start a run from a saved model
    load_saved_model = .true.
    saved_model_name = '{{initial_mass}}M_at_ZAMS.mod'
    
   ! profile columns
    profile_columns_file = 'profile_columns.list'

/ !end of star_job namelist


&controls

  ! starting specifications
    initial_mass = {{initial_mass}} ! in Msun units
    initial_z = 6d-3 ! metallicity
    initial_y = 259d-3 ! He abundance, Y=0.25 + 1.5Z (Eldridge et al. 2017)

  ! Stop at Oxygen ignition
    log_center_temp_limit = 9.204 !1.6d9K
  
  ! Post Main Sequence stuff
  ! use C/O enhanced opacities
  ! important for He-burning onwards
    use_Type2_opacities = .true.
    Zbase = 0.006

  ! configure mass loss on RGB & AGB
    cool_wind_RGB_scheme = 'Dutch'
    cool_wind_AGB_scheme = 'Dutch'
    RGB_to_AGB_wind_switch = 1d-4
    Dutch_scaling_factor = 0.8 
    
  ! super-eddington wind
    super_eddington_scaling_factor = 3
    super_eddington_wind_Ledd_factor = 5

  ! Hot winds
    hot_wind_scheme = 'Vink'
    
  ! Calculate asteroseismology
    calculate_Brunt_N2 = .true.
   
  ! older version of resolutions for when models broke, save just in case
  ! Slightly finer mesh; 22,24,27,30 M_sun only
    !mesh_delta_coeff = 0.75
    !mesh_delta_coeff_for_highT = 2.0
    
       
  ! resolution
    mesh_delta_coeff = 1.0
    max_allowed_nz = 50000

  ! use this through about the onset of core si burn
    dX_nuc_drop_limit = 1d-3   
    dX_nuc_drop_limit_at_high_T = 1d-4  
    dX_nuc_drop_min_X_limit = 1d-3  
    dX_nuc_drop_max_A_limit = 52 
    
  ! mlt
    mixing_length_alpha = 1.5
    MLT_option = 'Henyey'
    
  ! mlt++
    okay_to_reduce_gradT_excess = .true. 
    gradT_excess_f1 = 1d-4
    gradT_excess_f2 = 1d-2
    gradT_excess_age_fraction = 0.9d0

    gradT_excess_lambda1 = 1.0
    gradT_excess_beta1 = 0.35

    gradT_excess_lambda2 = 0.5
    gradT_excess_beta2 = 0.25

    gradT_excess_dlambda = 0.1
    gradT_excess_dbeta = 0.1
    
    
  ! eps grav
    include_composition_in_eps_grav = .true.
    
  ! overshoot
    overshoot_f =  0.004
    overshoot_f0 = 0.001

    overshoot_D_min = 1d2
    
   
  ! semiconvection
    use_Ledoux_criterion = .true.
    alpha_semiconvection = 0.01
    
  ! thermohaline
    thermohaline_coeff = 2.0 
    thermohaline_option = 'Kippenhahn'
    
  ! angular momentum transport
    am_nu_visc_factor = 1  
    am_D_mix_factor = 0.0333333333333
    D_DSI_factor = 0.0d0
    D_SH_factor  = 0.0d0
    D_SSI_factor = 0.0d0
    D_ES_factor  = 0.0d0
    D_GSF_factor = 0.0d0
    D_ST_factor  = 0.0d0
    
  ! temporal resolution

    varcontrol_target = 5d-5
    min_timestep_limit = 1d-12 ! (seconds)
    max_timestep_factor = 1.20d0

  ! resolve the depletion of each fuel
    delta_lg_XH_cntr_limit = 0.01d0
    delta_lg_XH_cntr_max   = 0.0d0
    delta_lg_XH_cntr_min   = -6.0d0
    delta_lg_XH_cntr_hard_limit = 0.02d0

    delta_lg_XHe_cntr_limit = 0.01d0
    delta_lg_XHe_cntr_max   = 0.0d0
    delta_lg_XHe_cntr_min   = -6.0d0
    delta_lg_XHe_cntr_hard_limit = 0.02d0

    delta_lg_XC_cntr_limit = 0.01d0
    delta_lg_XC_cntr_max   = 0.0d0
    delta_lg_XC_cntr_min   = -6.0d0
    delta_lg_XC_cntr_hard_limit = 0.02d0

  ! this is mainly to resolve properly when the star goes off the main sequence
    delta_HR_limit = 0.0025d0
    delta_lgL_He_limit =0.1

  ! limit changes iin the mass due to winds
    delta_lg_star_mass_limit = 4e-5

/ ! end of controls namelist
